
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<div>
    <input type="hidden" id="verificationToken" name="verificationToken" value="@ViewBag.VerificationToken" />
    <p>
        從 <input id="source" name="source" type="text" />
    </p>
    <p>
        匯 <input id="money" name="money" type="text" />
    </p>
    <p>
        給 <input id="target" name="target" type="text" />
    </p>
    <p>
        <input id="transfer" type="button" value="Ajax Transfer" />
    </p>
</div>

<script src="~/scripts/jquery-1.10.2.js"></script>
<script>
    $(function () {
        $("#transfer").on("click", function () {
            $.ajax({
                url: '/Home/Transfer',
                method: 'POST',
                data: {
                    source: $("#source").val(),
                    money: $("#money").val(),
                    target: $("#target").val()
                },
                headers: {
                    "VerificationToken": $("#verificationToken").val()
                }
            })
            .done(function (data) {
                alert(JSON.stringify(data));
            });
        });
    });
</script>